* {
  margin: 0;
  padding: 0;
  color: #fafafa;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("C:\Users\48500\Documents\GitHub\so-yummy\frontend\public\images\welcomebg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #fafafa;
}

.logo {
  margin-bottom: 28px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
}

.frame {
  width: 305px;
  height: 199px;
  margin-left: 35px;
  margin-right: 35px;
}

.buttonReg,
.buttonSign {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-size: 14px;
}

.buttonReg {
  margin-right: 12px;
}

.buttonReg:hover,
.buttonSign:hover {
  opacity: 0.5;
}

.buttonBox {
  margin-top: 44px;
}

@media screen and (min-width: 768px) {
  .container {
    background-image: url("C:\Users\48500\Documents\GitHub\so-yummy\frontend\public\images\welcomebg-tablet.png");
  }
  .logo {
    margin-bottom: 44px;
  }

  .title {
    font-size: 28px;
    line-height: 28px;
  }

  .paragraph {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
  }

  .frame {
    width: 500px;
    height: 121px;
    margin-left: 134px;
    margin-right: 134px;
  }

  .buttonBox {
    margin-top: 40px;
  }

  .buttonReg {
    margin-right: 18px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    background-image: url("C:\Users\48500\Documents\GitHub\so-yummy\frontend\public\images\welcomebg.png");
  }

  .frame {
    width: 544px;
  }
}
