.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
  background-image: url(../../images/RegisterPage/background-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 300px;
}

.form {
  box-sizing: border-box;
  position: relative;
  top: -32px;
  width: 335px;
  height: 350px;
  background: #2a2c36;
  box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
}
.label {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  margin-top: 32px;
  margin-bottom: 18px;
}
/* .inputContainer {
  box-sizing: border-box;
  display: flex;
  width: 279px;
  height: 45px;
  background: #2a2c36;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #fafafa;
  opacity: 0.8;
  padding-left: 14px;
  border: 1px solid rgba(250, 250, 250, 0.8);
  border-radius: 6px;
  margin-bottom: 14px;
} */
.inputContainer {
  width: 279px;
  position: relative;
}
.iconInside {
  position: absolute;
  left: 14px;
  top: 37%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input {
  box-sizing: border-box;
  display: flex;
  width: 279px;
  height: 45px;
  background: #2a2c36;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #fafafa;
  padding-left: 40px;
  border: 1px solid rgba(250, 250, 250, 0.8);
  border-radius: 6px;
  margin-bottom: 14px;
}
/* .input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin-left: 8px;
  background: #2a2c36;
  border: none;
  color: white;
} */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 279px;
  height: 45px;
  background: #8baa36;
  border-radius: 6px;
  color: white;
  margin-top: 14px;
  margin-bottom: 40px;
}
.link {
  position: relative;
  top: -10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: white;
}
.picture {
  margin-top: 87px;
  display: flex;
  justify-content: center;
}
